{% extends 'base.html' %}

{% block title %}
    Logistic Regression
{% endblock %}

{% block content %}  
    <div class="text-center text-3xl p-5">
        File Upload
    </div>

    {% if fileform %}
    <div class="mx-10 border border-black px-5 rounded-lg">
        <h2>Upload File</h2>
        <form method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {{ fileform.as_p }}
            <button type="submit">Upload</button>
        </form>
    </div>
    {% endif %}

    <a href="{% url 'list_files' %}">list all files</a>

    {% if files %}
    <div class="mx-10 border border-black px-5 rounded-lg">
        <h2>Uploaded Files</h2>
        <form method="post">
            {% csrf_token %}
            <ul>
                {% for file in files %}
                    <li>
                        <input type="radio" name="selected_file" value="{{ file }}" required> {{ file }}
                    </li>
                {% endfor %}
            </ul>
            <button type="submit">Select File</button>
        </form>
    </div>
    {% endif %}

    {% if selected_file %}
    {{ selected_file }}
    {% endif %}
{% endblock %}